# OS X
.DS_Store

# Python
*.pyc

# Command-line tools (hfsutils, unar)
tools

# Link to the package cache for the box_bootstrap command
api.classicbox.io

# Code coverage output (by coverage.py)
.coverage
htmlcov
